.container {
  display: flex;
  height: 100vh;
}

.left-panel {
  flex: 1;
  background-image: url("./images/plants.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
